* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.top {
    background: #1F2937;
}

    header{
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    ul {
        display:flex;
        gap: 8px;
        list-style-type: none;
    }

    ul li a {
        padding: 0 20px;
        text-decoration: none;
        color: white;
    }

    main {
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-title {
        font-size: 48px;
        color:#F9FAF8 ;
        font-weight: 800;
    }

    .main-subtitle {
        font-size: 15px;
        color: white;
    }

    .content-left {
        width: 500px;
        margin: 25px;
    }

    .sgn-up {
        background-color: #3882f6;
        margin-top: 10px;
        padding: 8px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
        border: 0px;
        border-radius: 15px;
        border-style: solid;
        color: white;
    }

    .content-right {
        width: 500px;
        margin: 25px;
    }

    .hero-img {
        border-radius: 15px;
    }

.middle-top {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-placeholders {
    width: auto;
    padding: 50px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-self: stretch;
}

.img-placeholder {
    width: 50px;
    padding: 75px;
    display: inline-flex;
    border: 2.5px solid #3882f6;
    border-radius: 15px;
}

.img-descriptions {
    padding: 50px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-self: stretch;
}

.img-subtext {
    width: 150px;
    text-align: center;
}

.middle-bottom {
    background: #E5E7EB;
    padding: 50px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#quote {
    font-size: 36px;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
}

#quotee {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}